page-home {
    background-color: #031a44;
    .content {
        padding: 0 10px;
        background-color: #031a44;
        #Warning {
            margin-top: 80px;
            color: white;
        }
        img {
            margin-top: 30px;
            display: block;
        }
    }
}